-i https://pypi.org/simple
absl-py==2.1.0; python_version >= '3.7'
aiodns==3.2.0; python_full_version >= '3.5.2'
aiohappyeyeballs==2.4.0; python_version >= '3.8'
aiohttp==3.10.5; python_full_version >= '3.5.2'
aiosignal==1.3.1; python_version >= '3.7'
altair==5.4.1; python_version >= '3.8'
annotated-types==0.7.0; python_version >= '3.8'
anyio==4.4.0; python_version >= '3.8'
astunparse==1.6.3
attrs==24.2.0; python_version >= '3.7'
blinker==1.8.2; python_version >= '3.8'
cachetools==5.5.0; python_version >= '3.7'
ccxt==4.4.3
certifi==2024.8.30; python_version >= '3.6'
cffi==1.17.1; platform_python_implementation != 'PyPy'
charset-normalizer==3.3.2; python_full_version >= '3.7.0'
click==8.1.7; python_version >= '3.7'
colorama==0.4.6; platform_system == 'Windows'
contourpy==1.3.0; python_version >= '3.9'
cryptography==43.0.1; python_version >= '3.7'
cycler==0.12.1; python_version >= '3.8'
distlib==0.3.8
distro==1.9.0; python_version >= '3.6'
eventregistry==9.1
filelock==3.16.0; python_version >= '3.8'
flatbuffers==24.3.25
fonttools==4.53.1; python_version >= '3.8'
frozenlist==1.4.1; python_version >= '3.8'
fsspec==2024.9.0; python_version >= '3.8'
gast==0.6.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
gitdb==4.0.11; python_version >= '3.7'
gitpython==3.1.43; python_version >= '3.7'
google-pasta==0.2.0
greenlet==3.1.0; python_version < '3.13' and platform_machine == 'aarch64' or (platform_machine == 'ppc64le' or (platform_machine == 'x86_64' or (platform_machine == 'amd64' or (platform_machine == 'AMD64' or (platform_machine == 'win32' or platform_machine == 'WIN32')))))
groq==0.11.0; python_version >= '3.7'
grpcio==1.66.1; python_version >= '3.8'
h11==0.14.0; python_version >= '3.7'
h5py==3.11.0; python_version >= '3.8'
httpcore==1.0.5; python_version >= '3.8'
httpx==0.27.2; python_version >= '3.8'
huggingface-hub==0.25.0; python_full_version >= '3.8.0'
idna==3.10; python_version >= '3.6'
jinja2==3.1.4; python_version >= '3.7'
jsonpatch==1.33; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5, 3.6'
jsonpointer==3.0.0; python_version >= '3.7'
jsonschema==4.23.0; python_version >= '3.8'
jsonschema-specifications==2023.12.1; python_version >= '3.8'
keras==3.5.0; python_version >= '3.9'
kiwisolver==1.4.7; python_version >= '3.8'
langchain==0.3.0; python_version >= '3.9' and python_version < '4.0'
langchain-core==0.3.0; python_version >= '3.9' and python_version < '4.0'
langchain-groq==0.2.0; python_version >= '3.9' and python_version < '4.0'
langchain-text-splitters==0.3.0; python_version >= '3.9' and python_version < '4.0'
langsmith==0.1.121; python_version < '4.0' and python_full_version >= '3.8.1'
libclang==18.1.1
markdown==3.7; python_version >= '3.8'
markdown-it-py==3.0.0; python_version >= '3.8'
markupsafe==2.1.5; python_version >= '3.7'
matplotlib==3.9.2; python_version >= '3.9'
mdurl==0.1.2; python_version >= '3.7'
ml-dtypes==0.4.1; python_version >= '3.9'
mpmath==1.3.0
multidict==6.1.0; python_version >= '3.8'
namex==0.0.8
narwhals==1.8.1; python_version >= '3.8'
networkx==3.3; python_version >= '3.10'
newsapi-python==0.2.7
numpy==1.26.4; python_version >= '3.9'
opt-einsum==3.3.0; python_version >= '3.5'
optree==0.12.1; python_version >= '3.7'
orjson==3.10.7; python_version >= '3.8'
packaging==24.1; python_version >= '3.8'
pandas==2.2.2; python_version >= '3.9'
pillow==10.4.0; python_version >= '3.8'
pipenv==2024.0.2; python_version >= '3.8'
platformdirs==4.3.3; python_version >= '3.8'
plotly==5.24.1; python_version >= '3.8'
protobuf==4.25.4; python_version >= '3.8'
pyarrow==17.0.0; python_version >= '3.8'
pycares==4.4.0; python_version >= '3.8'
pycparser==2.22; python_version >= '3.8'
pydantic==2.9.2; python_version >= '3.8'
pydantic-core==2.23.4; python_version >= '3.8'
pydeck==0.9.1; python_version >= '3.8'
pygments==2.18.0; python_version >= '3.8'
pyparsing==3.1.4; python_full_version >= '3.6.8'
python-dateutil==2.9.0.post0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
python-dotenv==1.0.1; python_version >= '3.8'
pytz==2024.2
pyyaml==6.0.2; python_version >= '3.8'
referencing==0.35.1; python_version >= '3.8'
regex==2024.9.11; python_version >= '3.8'
requests==2.32.3; python_version >= '3.8'
rich==13.8.1; python_full_version >= '3.7.0'
rpds-py==0.20.0; python_version >= '3.8'
safetensors==0.4.5; python_version >= '3.7'
schedule==1.2.2; python_version >= '3.7'
setuptools==75.1.0; python_version >= '3.8'
six==1.16.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
smmap==5.0.1; python_version >= '3.7'
sniffio==1.3.1; python_version >= '3.7'
sqlalchemy==2.0.35; python_version >= '3.7'
streamlit==1.38.0; python_version >= '3.8' and python_full_version != '3.9.7'
sympy==1.13.2; python_version >= '3.8'
tabulate==0.9.0; python_version >= '3.7'
tenacity==8.5.0; python_version >= '3.8'
tensorboard==2.17.1; python_version >= '3.9'
tensorboard-data-server==0.7.2; python_version >= '3.7'
tensorflow==2.17.0; python_version >= '3.9'
tensorflow-intel==2.17.0; platform_system == 'Windows'
tensorflow-io-gcs-filesystem==0.31.0; python_version < '3.12'
termcolor==2.4.0; python_version >= '3.8'
tokenizers==0.19.1; python_version >= '3.7'
toml==0.10.2; python_version >= '2.6' and python_version not in '3.0, 3.1, 3.2, 3.3'
torch==2.4.1; python_full_version >= '3.8.0'
tornado==6.4.1; python_version >= '3.8'
tqdm==4.66.5; python_version >= '3.7'
transformers==4.44.2; python_full_version >= '3.8.0'
typing-extensions==4.12.2; python_version >= '3.8'
tzdata==2024.1; python_version >= '2'
urllib3==2.2.3; python_version >= '3.8'
virtualenv==20.26.4; python_version >= '3.7'
watchdog==4.0.2; platform_system != 'Darwin'
werkzeug==3.0.4; python_version >= '3.8'
wheel==0.44.0; python_version >= '3.8'
wrapt==1.16.0; python_version >= '3.6'
yarl==1.11.1; python_full_version >= '3.5.2'
